
{% extends "::/account/base.html.twig" %}
{% block stylesheets %}


{% endblock stylesheets %}

{% block page_title %} {% endblock%}

{% block page_content %}
    <div class="row">
        <div class="x_panel" >
                <div class="border_bottom">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <!-- Collect the nav links, forms, and other content for toggling -->
                             <div class="row">
                            <div class="col-md navbar-collapse" id="klient-navbar">
                                  <div class="col-md-4 title">
                                    
                                     Edytuj dział 
                                </div>

                                <ul class="nav navbar-nav navbar-right add">
                                    <li> <a class="btn-primary" href="{{ path('dzialy') }}"><span class="glyphicon glyphicon-list"></span> Powrót do listy</a></li>
                                   
                                    <li> <a  class="btn-danger"  href="#" role="button"  data-toggle="modal" data-target="#odal"><span class="glyphicon glyphicon-remove"></span> Usuń dział</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                             </div>
                        </div><!-- /.container-fluid -->
                    </nav>

                </div>
            <div class="x_content">
                <br>


                <div>
                    <form novalidate action="{{ path('dzialy_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
                        {{ bootstrap_set_label_col(4) }}
                        {{ bootstrap_set_widget_col(4) }}
                        {{ bootstrap_set_style('horizontal') }}
                        {{ form_widget(edit_form) }}                                        
                        {{ form_rest(edit_form) }}                     
                    </form>                    
                </div>
            </div>
        </div>
    </div>
                    <!-- Modal usuwanie klienta -->
    <div class="modal fade" id="odal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                    <h4 class="modal-title" id="myModalLabel">Usuń dział</h4>
                </div>
                <div class="modal-body">          

                    <p>Czy napewno chcesz usunąć {{ entity.name }} ?</p>                                                  
                    <div class="modal-footer" >
                        <div style="float:right; margin-left: 10px"> 
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                        <div style="float:right">    {{form(delete_form)}}
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <!-- KONIEC Modal usuwanie klienta -->
    {% block javascripts %}

    {% endblock javascripts %} 
    
    
{% endblock %}





