<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"  role="form" class="form-horizontal" id="formularz">
      <div class="col-md-12">
                  <div class="form-group  col-md-9 col-md-pull-1">
            {{ form_label(form.username, 'Login', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            
            <div class="col-md-3">
                {{ form_widget(form.username , { 'attr': {'class': 'checklogin required form-control'} }) }}</div>
            <div class="height_10"> </div>
            <span id="info"></span>
        </div>
        <div class="form-group  col-md-6">
            {{ form_label(form.imie , 'Imię', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-5">
                {{ form_widget(form.imie , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>
        <div  class="form-group  col-md-5 col-md-pull-2">
            {{ form_label(form.nazwisko, 'Nazwisko', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-6">
                {{ form_widget(form.nazwisko , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>
        <div class="form-group  col-md-6">
            {{ form_label(form.telefon, 'Telefon', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-5">
                {{ form_widget(form.telefon , { 'attr': {'minlength': '3','class' : 'number required form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>

        <div  class="form-group  col-md-5 col-md-pull-2">
            {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-6">
                {{ form_widget(form.email , { 'attr': {'class' : 'required email form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>

        <div  class="form-group  col-md-6">
            {{ form_label(form.nazwafirmy, 'Nazwa firmy', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-8">
                {{ form_widget(form.nazwafirmy , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>

          
        <div  class="form-group  col-md-5 col-md-pull-1">
            {{ form_label(form.nip, 'NIP', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
            <div class="col-md-5">
                {{ form_widget(form.nip , { 'attr': {'class' : 'digits form-control', 'minlength': '10'} }) }}
                <span class="help-block small">10 cyfr bez spacji</span>
            </div>
            <div class="height_10"> </div>
       
           </div>

        <div  class="form-group  col-md-6" >
            {{ form_label(form.kodpocztowy, 'Kod pocztowy', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-5">
                {{ form_widget(form.kodpocztowy , { 'attr': {'class' : 'kodpocztowy required form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>

       <div  class="form-group  col-md-5 col-md-pull-2">
            {{ form_label(form.miejscowosc, 'Miejscowość', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-5">
                {{ form_widget(form.miejscowosc , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}</div>
            <div class="height_10"> </div>
        </div>
        <div  class="form-group col-md-6">
            {{ form_label(form.ulica, 'Ulica', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-8">
                {{ form_widget(form.ulica , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}</div>
            <div class="height_10"> </div>


        </div>

            
            
        <div class="form-group  col-md-9 col-md-pull-1">
            {{ form_label(form.nrkonta, 'Numer konta', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-6">
                {{ form_widget(form.nrkonta , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
            </div>
            <div class="height_10"> </div>
        </div>
            
            

        {{ form_errors(form) }}
        {{ form_rest( form ) }}

    </div>
    <div class="form-group  col-md-8  ">
        <input  class="btn btn-primary col-md-offset-6"  type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
    