{% block content %}
<div class="gtco-section row">

    <div class="gtco-container">

        <form  action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" role="form" class="form-horizontal" id="formularz">


            <div class="form-group  col-md-6">
                {{ form_label(form.imie , 'Imię', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.imie , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
                </div>      
            </div>
            <div  class="form-group  col-md-6">
                {{ form_label(form.nazwisko, 'Nazwisko', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.nazwisko , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
                </div>

            </div>
            <div class="form-group  col-md-6">
                {{ form_label(form.telefon, 'Telefon', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.telefon , { 'attr': {'minlength': '3','class' : 'number required form-control'} }) }}
                </div>

            </div>

            <div  class="form-group  col-md-6">
                {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.email , { 'attr': {'class' : 'required email form-control'} }) }}
                </div>

            </div>

            <div  class="form-group  col-md-12">
                {{ form_label(form.nazwafirmy, 'Nazwa firmy', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget(form.nazwafirmy , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}
                </div>

            </div>


            <div  class="form-group  col-md-8">
                {{ form_label(form.nip, 'NIP', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget(form.nip , { 'attr': {'class' : 'digits col-md-6 form-control', 'minlength': '10', 'maxlength': '10'} }) }}
                    <span class="help-block" style="font-size: 12px">10 cyfr bez spacji</span>
                </div>

            </div>


            <div  class="col-md-12 col-md-offset-2" >
                <div  class="form-group  col-md-4" >
                    {{ form_label(form.kodpocztowy, 'Kod pocztowy', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
                    <div class="col-md-6">
                        {{ form_widget(form.kodpocztowy , { 'attr': {'class' : 'kodpocztowy required form-control'} }) }}
                    </div>

                </div>           
                <div class="form-group col-md-6" >
                    {{ form_label(form.miejscowosc, 'Miejscowość', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
                    <div class="col-md-7">
                        {{ form_widget(form.miejscowosc , { 'attr': {'minlength': '3','class' : 'form-control'} }) }}</div>
                    <div class="height_10"> </div>
                </div>
            </div>


            <div  class="form-group col-md-8">
                {{ form_label(form.ulica, 'Ulica', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget(form.ulica , { 'attr': {'minlength': '3','class' : 'col-md-6 form-control'} }) }}</div>

            </div>
            <div  class="form-group  col-md-12">
                {{ form_label(form.nrkonta, 'Numer konta', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget(form.nrkonta , { 'attr': {'minlength': '3','class' : 'col-md-6 form-control'} }) }}
                </div>
                <div class="height_10"> </div>
            </div>

            <div class="login form-group  col-md-8">
                <i id="loading" class="fa fa-spinner fa-spin" style="position: absolute;right:40px;top:8px;font-size:36px;display: none"></i> {{ form_label(form.username, 'Login', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}

                <div class="col-md-6">
                    {{ form_widget(form.username , { 'attr': {'minlength': '8','class': 'checklogin required form-control'} }) }}</div>
                <span id="info"></span>
            </div>

            <div class="form-group  col-md-8" style="margin-top: 10px">

                {{ form_label(form.plainPassword.first, 'Hasło', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget( form.plainPassword.first, { 'attr': {'minlength': '6','class': 'col-md-6 form-control'} }) }} 
                    <small class="help-block" style="font-size: 12px">Hasło składać się powinno przynjamniej z 6 znaków</small>   <div class="height_10"> </div>    <div class="height_10"> </div> 
                </div>
                {{ form_label(form.plainPassword.second, 'Powtórz hasło', { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
                <div class="col-md-6">
                    {{ form_widget( form.plainPassword.second,  { 'attr': {'equalTo': '#fos_user_registration_form_plainPassword_first','class': 'col-md-4 form-control'} }) }}  <div class="height_10"> </div>

                </div>

            </div>
            <div  class="form-group col-md-8" >
                <div  class="col-md-6 col-md-offset-6" >
                    <input class="btn btn-primary btn-lg btn-block" type="submit" id="_submit2" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" /> 
                </div>
            </div>
            {{ form_errors(form) }}
            {{ form_rest( form ) }}



        </form>
    </div>
</div>
            {% endblock content %}
