
{% extends "::/account/base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">

    <!-- Select2 -->

{% endblock stylesheets %}

{% block page_title %}   {% endblock%}

{% block page_content %}


    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            $(document).ready(function () {
                show_stack_bottomright('error', '{{ flashMessage }}');            
            });
        </script>
        <!--
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           #
        </div>
        -->
    {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
        <script>
            $(document).ready(function () {            
                 show_stack_bottomright('info', '{{ flashMessage }}');
            });
        </script>

    {% endfor %}

    <div>
        <div class="row">
            <div class="x_panel" >
                <div class="border_bottom">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="row">
                                <div class="col-md navbar-collapse" id="klient-navbar">

                                    <form class="navbar-form navbar-left" role="search" action="{{ path('szukajkonsultantow') }}" method="post" {{ form_enctype(form) }}>
                                        {{ form_errors(form) }} 

                                        <div class="form-group">
                                            {{ form_widget(form.szukaj , { 'attr': {'minlength': '4','class': 'form-control', 'placeholder':'Szukaj'} }) }}

                                        </div>

                                        <div class="form-group">
                                            {{ form_widget(form.wedlug , { 'attr': {'minlength': '4','class': 'form-control', 'placeholder':'Szukaj'} }) }}

                                        </div>
                                        <button type="submit" class="btn btn-default" data-toggle="tooltip" title=""><span class="glyphicon glyphicon-search"></span> Szukaj</button>
                                        {{ form_rest( form ) }}
                                    </form>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li> <a style="color:white !important" class="btn-success" href="{{ path('konsultant_new') }}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </div><!-- /.container-fluid -->
                    </nav>

                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        {% if pagination %}
                             <div class="col-md-8 col-md-offset-2">
                            <table class="table  table-striped jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th style="text-align:center">Id</th>
                                        <th style="text-align:center">Imie</th>
                                        <th style="text-align:center">Nazwisko</th>
                                        <th style="text-align:center">Login konsultanta</th> 

                                        <th style="text-align:center">Email</th>
                                        <th style="text-align:center">Dział</th>
                                        <th colspan="2" style="vertical-align:middle;text-align:center">Pokaż</th><th style="vertical-align:middle;text-align:center">Edytuj</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for entity in pagination %}
                                        <tr>
                                            <td style="vertical-align:middle;text-align:center"><a href="{{ path('konsultant_show', { 'id': entity.id, 'date':  "now"|date("Y-m") }) }}">{{ entity.id }}</a></td>
                                            <td style="vertical-align:middle;text-align:center">{{ entity.imie }}</td>
                                            <td style="vertical-align:middle;text-align:center">{{ entity.nazwisko }}</td>
                                            <td style="vertical-align:middle;text-align:center">{{ entity.username }}</td>          
                                            <td style="vertical-align:middle;text-align:center">{{ entity.email }}</td>
                                            <td style="vertical-align:middle;text-align:center">{{ entity.KonsultantDzialy }}</td>
                                            <td align="center" style="vertical-align: middle;" colspan="2">

                                                <a class="btn btn-default btn-sm" href="{{ path('konsultant_show', { 'id': entity.id, 'date':  "now"|date("Y-m") }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>

                                            </td><td align="center" style="vertical-align: middle;">

                                                <a class="btn btn-default btn-sm" href="{{ path('konsultant_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>


                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        </div>
                    </div>

                </div>
                {% if app.request.get('_route') == 'konsultant' %}
                    {% if  pagination is defined %}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Select2 -->
    {% block javascripts %}
        <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>

        <!-- /Select2 -->
    {% endblock javascripts %} 
{% endblock  %}





