
{% extends "::base.html.twig" %}
{% block layout %}


    <div  class="container"><br/>
        <div class="jumbotron col-md-6 center-block" style="float: none; margin-left: auto; margin-right: auto;">
             <h2 style="text-align: center">Zmień hasło</h2>

            <form  class="form-horizontal" role="form" action="{{ path('konsultant_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(password_form) }}>
                <input type="hidden" name="_method" value="PUT" />

                <div class="form-group  col-md-12">

                    {{ form_label(password_form.oldpassword, 'Stare Hasło', { 'label_attr': {'class': ' col-md-4 control-label'} }) }}
                   
                    <div class="col-md-8">
                        {{ form_widget(password_form.oldpassword, { 'attr': {'minlength': '4','class': 'form-control'} }) }}
                    </div>
                </div> 
                <div class="form-group  col-md-12">

                    {{ form_label(password_form.password.first, 'Nowe Hasło', { 'label_attr': {'class': ' col-md-4 control-label'} }) }}
                   
                    <div class="col-md-8">
                        {{ form_widget(password_form.password.first, { 'attr': {'minlength': '4','class': 'form-control'} }) }}
                    </div>
                </div> 
                 <div class="form-group  col-md-12">

                    {{ form_label(password_form.password.second, 'Powtórz Hasło', { 'label_attr': {'class': ' col-md-4 control-label'} }) }}
                   
                    <div class="col-md-8">
                        {{ form_widget(password_form.password.second, { 'attr': {'minlength': '4','class': 'form-control'} }) }}
                    </div>
                </div> 
                {{ form_rest( password_form ) }}
                  <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Zatwierdź</button>
                </div>
                  </div>
            </form>
                 <br/>
            <div class="row">
                {% if app.session.flashbag.get('notice') is defined %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success col-md-8 col-md-offset-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}

                    </div>

                {% endfor %}
                {% endif %}
                 {% if app.session.flashbag.get('error') is defined %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger col-md-8 col-md-offset-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}

                    </div>

                {% endfor %}
                 {% endif %}
                 {% if password_form.password.first.vars.errors|length > 0 %}
                    <div class="alert alert-danger col-md-8 col-md-offset-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                        {{ form_errors(password_form.password.first) }}

                    </div>
                          {% endif %}
                </div>
            </div>
        </div>


  
{% endblock %}
