
{% extends "::/account/base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

    <!-- Select2 -->

{% endblock stylesheets %}

{% block page_title %}   {% endblock%}

{% block page_content %}


    {% if error is defined %} 
        <div class="alert alert-danger col-md-4" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>                        
            <small>  {{error}}   </small>                        
        </div>
    {% endif %} 

    <div>
        <div class="row">
            <div class="x_panel" >
                <div class="border_bottom">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="klient-navbar">
                                <div class="col-md-4 title">

                                    <h3>  Kategorie</h3>
                                </div>

                                <ul class="nav navbar-nav navbar-right add">
                                    <li> <a id="add" style="color:white !important" class="btn-success" href="{{ path('category_new') }}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a></li>

                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </div><!-- /.container-fluid -->
                    </nav>

                </div>
                <div class="x_content">
                    <div class="table-responsive">
                         <div class="col-md-4 col-md-offset-3">
                        <table class="table  table-striped jambo_table">
                            <thead>
                                <tr class="headings">

                                    <th>Nazwa</th>
                                    <th>Dział</th>
                                    {% if allegro %} <th>Kategoria w Allegro</th>  {% endif %} 
                                    <th style="vertical-align: middle; text-align: center">Edytuj</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    <tr>

                                        <td  style="vertical-align: middle;">{{ category.name }}</td>
                                        <td  style="vertical-align: middle;">{{ category.department }}</td>  
                                         {% if allegro %}  <td  style="vertical-align: middle;">{{ category.itemCategoryIdAllegro }}</td>   {% endif %} 
                                        <td style="vertical-align: middle; text-align: center">
                                            <a class="btn btn-default btn-sm" href="{{ path('category_edit', { 'id': category.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Select2 -->
    {% block javascripts %}


        <!-- /Select2 -->
    {% endblock javascripts %} 
{% endblock  %}







