{% extends "::/account/base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset ('css/bootstrap-datetimepicker.min.css')}} " type="text/css" media="all">
    <link href="{{ asset('assets/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Select2 -->

{% endblock stylesheets %}



{% block page_title %}   {% endblock%}

{% block page_content %}


    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            $(document).ready(function () {
                show_stack_bottomright('error', '{{ flashMessage }}');
            });
        </script>
        <!--
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           #
        </div>
        -->
    {% endfor %}

    <div>
        <div class="row">
            <div class="x_panel" >
                <div class="border_bottom">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="row">
                                <div class="col-md navbar-collapse" id="klient-navbar">

                                    <form class="navbar-form navbar-left" role="search" action="{{ path('szukajproduktowuser') }}" method="post" {{ form_enctype(form) }}>
                                        {{ form_errors(form) }} 

                                        <div class="form-group">
                                            {{ form_widget(form.szukaj , { 'attr': {'minlength': '1','class': 'form-control', 'placeholder':'Szukaj'} }) }}

                                        </div>
  

                                        <div class="form-group">
                                            {{ form_widget(form.wedlug , { 'attr': {'minlength': '1','class': 'form-control', 'placeholder':'Szukaj'} }) }}

                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.kategorie) }}

                                        </div>  
                                        <button type="submit" class="btn btn-default" data-toggle="tooltip" title="Możesz wyszukiwać po nr PESEL, nazwisku, imieniu i nazwisku oraz po nr klienta."><span class="glyphicon glyphicon-search"></span> Szukaj</button>
                                        {{ form_rest( form ) }}
                                    </form>
                                    
                                     {{code}}
                                    <ul class="nav navbar-nav navbar-right add">
                                        {% if client_id is defined and  client_id is not empty%}
                                            <li> <a class="btn-warning" href="https://allegro.pl.allegrosandbox.pl/auth/oauth/authorize?response_type=code&client_id={{client_id}}&redirect_uri=http://localhost/symfony2_8_new/web/app_dev.php/user/produkty/"><span class="glyphicon glyphicon-list"></span> Allegro</a></li>
                                        {% endif %} 
                                        
                                        <li> <a style="color:white !important" class="btn-success" href="{{ path('produkty_new') }}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </div><!-- /.container-fluid -->
                    </nav>

                </div>

                <div class="x_content">
                   
                    {%  if allegro is defined and allegro is not empty %}
                <div class="col-md-8">
                    <form novalidate action="{{ path('save_allegro_category', {'kat': kategoria,'katall': kategoriaAllegro }) }}" method="post" {{ form_enctype(allegro) }} class="form-horizontal">
                         {{ bootstrap_set_label_col(4) }}
                        {{ bootstrap_set_widget_col(4) }}
                        {{ bootstrap_set_style('horizontal') }}
                        {{ form_widget(allegro) }}                                        
                        {{ form_rest(allegro) }}                     
                    </form>   
                     
                     
                </div>
                    {% endif %}
                    <div class="clear"></div>
                    <div class="table-responsive">
                        {% if pagination %}
                            <table class="table table-striped jambo_table">
                                <thead>
                                    <tr>
                                        <th>Nr produktu</th>
                                        <th>Nazwa</th>
                                        <th>Cena netto</th>
                                        <th>Vat</th>
                                        <th>Cena brutto</th>
                                        <th>J.M</th>                
                                        {% if  magazyn == true %} <th>W magazynie</th> {% endif %}            
                                        <th colspan="2" style="vertical-align: middle;text-align: center">Pokaż</th><th>Edytuj</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in pagination %}
                                        <tr>
                                            <td><a href="{{ path('produkty_show', { 'id': entity.id }) }}">{{ entity.nrproduktu }}</a></td>
                                            <td>{{ entity.name }}</td>
                                            <td>{{ entity.cenaProduktu|number_format(2, ',', '  ') }} zł</td>
                                            <td>{{ entity.vat }} %</td>
                                            <td>{{ entity.cenabrutto|number_format(2, ',', '  ') }} zł</td>
                                            <td>{{ entity.jednostkamiary }}</td>
                                            {% if  magazyn == true %}   <td>{{ entity.magazyn }}</td>{% endif %}
                                            <td align="center" colspan="2" style="vertical-align: middle;text-align: center">

                                                <a class="btn btn-default btn-sm" href="{{ path('produkty_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>

                                            </td><td align="center" style="vertical-align: middle;text-align: center">

                                                <a class="btn btn-default btn-sm" href="{{ path('produkty_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>


                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>

                </div>
                {% if app.request.get('_route') == 'produkty' %}
                    {% if  pagination is defined %}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Select2 -->
    {% block javascripts %}
        <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
         <script src="{{ asset('assets/vendors/select2/dist/js/select2.full.min.js') }}"></script>
          <script src="{{ asset ('js/moment-with-locales.min.js') }}" type="text/javascript" ></script> 
            <script src="{{ asset ('js/bootstrap-datetimepicker.min.js') }}" type="text/javascript" ></script>
              <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('select[data-select="true"').select2({
                    placeholder: "Wybierz kategorie",
                    allowClear: true
                });
                
                
                {%  if datetimepicker is defined and datetimepicker is not empty %}
                      {% for entity in datetimepicker %}
                            $('.js-datepicker-datetime{{entity}}').datetimepicker({
                             format: 'YYYY-MM-DD HH:mm',
                             ignoreReadonly: true,
                             //   minuteStepping: 5,
                             locale: 'pl',
                             allowInputToggle: true,
                             minDate: moment()
                                     // weekStart: 1,
                                     //  autoclose: 1
                             });                      
                
                      
                     {% endfor %}
                     {% endif %}
                     
                  {%  if datepicker is defined and datepicker is not empty %}
                      {% for entity in datepicker %}
                        $('.js-datepicker-date{{entity}}').datetimepicker({
                       format: 'YYYY-MM-DD',
                       ignoreReadonly: true,
                       //   minuteStepping: 5,
                       locale: 'pl',
                       allowInputToggle: true,
                       minDate: moment()                       
                }); 
                     {% endfor %}
                     {% endif %}
                
            });
            
                     $('input').iCheck({
                
               checkboxClass: 'icheckbox_flat-green',
               radioClass: 'iradio_flat-green'
            });
            
        </script>
        
        

        <!-- /Select2 -->
    {% endblock javascripts %} 
{% endblock  %}

