
{% extends "::/account/base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Datatables -->

    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">


{% endblock stylesheets %}

{% block page_title %}   {% endblock%}

{% block page_content %}


    <div class="row">
        <div class="x_panel" >
            <div class="border_bottom">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="row">
                            <div class="col-md-4 title">

                                <h4> {{ entity.name }}</h4>
                            </div>                                

                            <div class="col-md navbar-collapse" id="klient-navbar">


                                <ul class="nav navbar-nav navbar-right add">
                                    <li> <a class="btn-primary" href="{{ path('produkty') }}"><span class="glyphicon glyphicon-list"></span> Powrót do listy</a></li>
                                    <li> <a class="btn-info" href="{{ path('produkty_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edytuj</a></li>
                                    <li> <a  class="btn-danger"  href="#" role="button"  data-toggle="modal" data-target="#odal"><span class="glyphicon glyphicon-remove"></span> Usuń dział</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
            <div class="x_content">
                <div class="clearfix"></div>
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" role="tab" id="main-tab" data-toggle="tab" aria-expanded="false">Dane podstawowe</a>
                        </li>

                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="allegro-tab" data-toggle="tab" aria-expanded="false">Allegro</a>
                        </li>

                        <li role="presentation" class=""><a href="#tab_content3" id="firmowi-tab" role="tab" data-toggle="tab" aria-expanded="false">Klienci firmowi</a>
                        </li>

                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="indywidualni-tab" data-toggle="tab" aria-expanded="false">Klienci indywidualni</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="main-tab">                               
                            <div class="col-md-6 col-md-offset-3 table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Nr produktu</th>
                                            <td>{{ entity.nrproduktu }}</td>
                                        </tr>
                                        <tr>
                                            <th>Cena produktu</th>
                                            <td>{{ entity.cenaProduktu|number_format(2, ',', '  ') }} zł</td>
                                        </tr>
                                        <tr>
                                            <th>Opis</th>
                                            <td>{{ entity.opis }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="allegro-tab">
                            tuuu
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="firmowi-tab">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Klienci firmowi <small>którzy zakupili ten produkt</small></h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <p class="text-muted font-13 m-b-30">
                                        </p>
                                        <table id="datatable-responsive-firma" class="table table-striped table-bordered dt-responsive nowrap display" cellspacing="0" width="100%">

                                            <thead>
                                                <tr id="opis">
                                                    <th>Nazwa firmy</th>
                                                    <th>Nip</th>                        
                                                    <th>Cena netto</th>
                                                    <th>Ilość</th>
                                                    <th>Data zakupu</th>
                                                    <th style="vertical-align:middle;text-align:center">Panel klienta</th>
                                                </tr>

                                            </thead>  

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="indywidualni-tab">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Klienci indywidualni <small>którzy zakupili ten produkt</small></h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <p class="text-muted font-13 m-b-30">
                                        </p>
                                        <table id="datatable-responsive-indywidualni" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">

                                            <thead>
                                                <tr id="opis">
                                                    <th>Imię</th>
                                                    <th>Nazwisko</th>                        
                                                    <th>Cena netto</th>
                                                    <th>Ilość</th>
                                                    <th>Data zakupu</th>
                                                    <th style="vertical-align:middle;text-align:center">Panel klienta</th>
                                                </tr>

                                            </thead>  

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal usuwanie produktu -->
    <div class="modal fade" id="odal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                    <h4 class="modal-title" id="myModalLabel">Usuń dział</h4>
                </div>
                <div class="modal-body">          

                    <p>Czy napewno chcesz usunąć produkt ?</p>                                                  
                    <div class="modal-footer" >
                        <div style="float:right; margin-left: 10px"> 
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                        <div style="float:right">  

                            <form action="{{ path('produkty_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                                <button type="submit" class="btn btn-danger">Usuń produkt</button>
                            </form>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <!-- KONIEC Modal usuwanie klienta -->
    <!-- Select2 -->
    {% block javascripts %}

        <!-- FastClick -->
        <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
        <!-- Datatables -->
        <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-scroller/js/datatables.scroller.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>


        <script>

            $("a[data-toggle='tab']").off().on('shown.bs.tab', function (e) {
                var table3 = $('#datatable-responsive-firma').DataTable();
                var table4 = $('#datatable-responsive-indywidualni').DataTable();
                var target = $(e.target).attr("href"); // activated tab

                if (target == '#tab_content3') {

                    $.ajax({
                        url: "/Symfony2_8_new/web/app_dev.php/user/produkty/produkty_klient_firmowy",
                        type: "POST",
                        dataType: "JSON",
                        async: false,
                        data: "id={{entity.id}}",
                        success: function (msg) {
                            table3.destroy();
                            $('#datatable-responsive-firma').DataTable(msg);
                        }
                    });
                }

                if (target == '#tab_content4') {
                    $.ajax({
                        url: "/Symfony2_8_new/web/app_dev.php/user/produkty/produkty_klient_ind",
                        type: "POST",
                        dataType: "JSON",
                        async: false,
                        data: "id={{entity.id}}",
                        success: function (msg) {
                            table4.destroy();
                            $('#datatable-responsive-indywidualni').DataTable(msg);
                        }
                    });
                }
            });


            //  $('#datatable-responsive-firma').DataTable();
            //   $('#datatable-responsive-indywidualni').DataTable();


        </script>
    {% endblock javascripts %} 

{% endblock  %}