{% extends "InfogoldAccountBundle:Default:index.html.twig" %}

    
{% block articletop %}

  {% endblock %}
   {% block articleleft %}
{{ knp_menu_render('InfogoldAccountBundle:Builder:ustawieniaMenu') }}					
    {% endblock articleleft %}


{% block articleright %}
<h2>Dodaj typ kontaktu</h2>
    <div  class="col-md-3 col-md-offset-2" >
        {{ form_start(form) }}
        {{ form_errors(form, { 'global_errors': true }) }}
        {{ form_widget(form) }}
        <div  class="row">
            <div class="col-md-2" > 
                <input class="btn-success btn-lg" type="submit" value="Zapisz" />  </div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/>
        <div  class="row">
            <div class="col-md-2" >
                <a href="{{ path('rodzajekontaktow_index') }}"  class="btn btn-primary">
                    <span class="glyphicon glyphicon-th-list"></span>      Powrót do listy
                </a>

            </div>

        </div>
    </div>
{% endblock articleright %}
