{% extends "::/strona/base.html.twig" %}
{% block content %}
    <div class="gtco-section row">

        <div class="gtco-container">

            <div class="col-md-5 animate-box center-block" style="float: none;
                 margin-left: auto;
                 margin-right: auto;">
                                <div class="row">
                    {% if error %}
                        <div class="alert alert-danger col-md-8 col-md-offset-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error.message|trans }}
                        </div>

                    {% endif %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger col-md-8 col-md-offset-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success col-md-8 col-md-offset-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
           
                <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
                    <div class="row form-group">
                    <input type="text" class="form-control" placeholder="Login" required autofocus  id="username" name="_username" value="{{ last_username }}">
                    </div>
                     <div class="row form-group">
                    <input type="password" class="form-control" placeholder="Hasło" required id="password" name="_password">
                    <!--     <div class="checkbox">
                           <label>
                             <input type="checkbox" value="remember-me"> Remember me
                           </label>
                         </div> -->
                     </div>
                      <div class="row form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
                      </div>
                </form>

            </div>

        </div>

    </div>
{% endblock %}